@media (min-width: 375px) {
.container {
	max-width: 350px;
}
.mobileadminmenu {
	margin-top : 50px;
}
.imgmobile {
	width : 75px;
	height : 75px;
	margin-top : 10px;
}
.cfbordertop {
	border-radius: 8px;
}
.cfborderrighttop {
	border-radius: 8px;
	border-left : solid 1px #e9ecef;
	padding-bottom: 16px;
}
.cfborderleft {
	border-radius: 8px;
	padding-bottom: 16px;
}
.cfborderright {
	border-left : solid 1px #e9ecef;
	border-radius: 8px;
	padding-bottom: 16px;
}
.boxtext {
	padding-left:5px;
	padding-right:5px;
	margin-top:16px;
}
.mrgcfmenu{
	margin-top:0px;
}
.mrgcfmenuok{
	margin-top:8px;
}
.cfstatus{
	margin-top:8px;
}
}
/*.........................................................................*/
@media (min-width: 576px){
.container {
	max-width: 540px;
}
.imgmobile {
	width : 75px;
	height : 75px;
	margin-top : 16;
}
.cfbordertop {
	border-radius: 8px;
	padding-bottom: 16px;
}
.cfborderleft {
	border-radius: 8px;
}
.summaryimg {
	  width: 50px;
	  height: 60px;
}
.mrgcfmenu{
	margin-top:0px;
}
.mrgcfmenuok{
	margin-top:8px;
}
.cfstatus{
	margin-top:8px;
}
}
/*.........................................................................*/
@media (min-width: 768px){
.container {
	max-width: 720px;
}
.menuup {
	margin-right: 55%;
}
.menuicon {
	padding-left:12%;
	padding-right:12%;
}
.backhome {
    margin-right: 580px;
}
.backhome_trs{
	padding-top: 12px;
}
.total,.warinning,.suscess,.noity{
	font-size: 8px;
}
.summaryimg {
	width: ;
}
.imgmobile {
	width : 75px;
	height : 75px;
	margin-top : 16px;
}
.cfbordertop {
	border-radius: 8px;
	padding-bottom: 16px;
}
.cfborderleft {
	border-radius: 8px;
}
.mrgcfmenu{
	margin-top:0px;
}
.mrgcfmenuok{
	margin-top:8px;
}
.cfstatus{
	margin-top:8px;
}
}
/*.........................................................................*/
@media (min-width: 992px) {
.container {
	max-width: 960px;
}
.imgmobile {
	width : 100px;
	height : 100px;
	margin-top : 16px;
}
.backhome {
    margin-right: 140px;
	padding-top: 12px;
}
.backhome_cf {
    margin-right: 480px;
	padding-top: 11px;
}
.backhome_trs{
	padding-top: 12px;
}
.cfborderrighttop {
	border-left : none;
	padding-bottom: 16px;
}
.cfbordertop {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cfborderrighttop {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.cfborderleft {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cfborderright {
	border-left : none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.boxtext {
	padding-left:5px;
	padding-right:5px;
	margin-top:25px;
}
.mrgcfmenu{
	margin-top:110px;
}
.mrgcfmenuok{
	margin-top:170px;
}
.cfstatus{
	margin-top:8px;
}
}
/*.........................................................................*/
@media (min-width: 1200px) {
.container {
	max-width: 1170px;
}
.menuicon {
	padding-left:17%;
	padding-right:17%;
}
.backhome {
    margin-right: 320px;
	padding-top: 12px;
}
.backhome_cf {
    margin-right: 660px;
	padding-top: 11px;
}
.backhome_trs{
	margin-right: 95px;
	padding-top: 12px;
}
.total,.warinning,.suscess,.noity{
	font-size: 12px;
}
.summaryimg {
	width: 40px;
}
.imgmobile {
	width : 150px;
	height : 150px;
	margin-top : 10;
}
.cfborderrighttop {
	border-left : none;
}
.cfbordertop {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cfborderrighttop {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.cfborderleft {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cfborderright {
	border-left : none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.boxtext {
	padding-left:5px;
	padding-right:5px;
	margin-top:50px;
}
.mrgcfmenu{
	margin-top:110px;
}
.mrgcfmenuok{
	margin-top:230px;
}
.cfstatus{
	margin-top:90px;
}
}
/*.........................................................................*/
@media (min-width: 1360px) {
.container {
	max-width: 1100px;
}
.mrgcfmenu{
	margin-top:140px;
}
.mrgcfmenuok{
	margin-top:230px;
}
.cfstatus{
	margin-top:90px;
}
}
/*.........................................................................*/
@media (min-width: 1600px){
.container {
    max-width: 1570px;
}
.menuicon {
	padding-left:25%;
	padding-right:25%;
}
.backhome {
    margin-right: 750px;
	padding-top: 12px;
}
.backhome_cf {
    margin-right: 1080px;
	padding-top: 11px;
}
.backhome_trs{
    margin-right: 520px;
	padding-top: 12px;
}
.total,.warinning,.suscess,.noity{
	font-size: 1rem;
}
.summaryimg {
	width: 40px;
}
.imgmobile {
	width : 150px;
	height : 150px;
	margin-top : 10px;
}
.cfborderrighttop {
	border-left : none;
}
.cfbordertop {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cfborderrighttop {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.cfborderleft {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cfborderright {
	border-left : none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.boxtext {
	padding-left:5px;
	padding-right:5px;
	margin-top:32px;
}
.cflogo {
	width: 60%;
	margin-top: 0px;
}
.mrgcfmenu{
	margin-top:140px;
}
.mrgcfmenuok{
	margin-top:230px;
}
.cfstatus{
	margin-top:90px;
}
}
/*autocomplete CSS*/
.autocomplete_list * {
	font-size: 16px;
}

.autocomplete_list b {
	font-weight: bold;
}

.autocomplete_list {
	background: #fff; display: block;
	border: 1px solid gray;
	text-align: left; z-index: 200;
}

.autocomplete_list, .autocomplete_list ol, .autocomplete_list li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.autocomplete_list li {
	margin: 0;
	text-align: left;
	cursor: pointer;
	padding: 4px;
	border-bottom: 1px solid silver;
}

.autocomplete_list .last_item {
	border: none;
}

.autocomplete_list .current_item {
	background: #b4d5fe; color: #000;
}

.autocomplete_list span {
	color: #111; float: right; padding-left: 2em;
}

.autocomplete_icon {
	background-image: url(autocomplete.gif);
	cursor: pointer;
	cursor: hand;
}
/*End Auto compleate CSS*/
.page
      {
        page-break-after: always;
      }
/*bootstap color*/
/*.btn {
    border: none; /* Remove borders
    color: white; /* Add a text color
    padding: 14px 28px; /* Add some padding
    cursor: pointer; /* Add a pointer cursor on mouse-over
}*/

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}
/*bootstap color end*/
.bt3success {background-color: #4CAF50;}
.inf1 {
	border: 1px solid #ddd;
	border-top :0;
	padding-top : 16px;
	padding-bottom : 16px;
	padding-left: 16px;
}
.ft {
    float: left;
}
.headindex {
    max-width: 100%;
}
.box-login {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    background-color: #ffffff;
}
.boxrightup {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    background-color: #ffffff;
}
.boxlefttop {
    margin-top: 10px;
}
.boxrightdown {
    margin-top: 10px;
}
.information {
    margin-bottom: 10px;
}
.informatiompl {
    padding-left: 10px;
}
.indexftp {
	padding-left : 30%;
}
.indexft {
	margin-bottom: 20px;
	width : 8%;
	float:left;
}
.indexft img {
	width : 100%;
	transition: all 1s ease;
}
.indexft:hover img {
	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	transform: scale(1.1);
	cursor: pointer;
}
/*cs_add problem*/
.addproblemmain {
    margin-top: 15px;
}
.aprob {
    width : 100%;
    border-radius: 7px;
    border: 1px solid #ccc;
}
/*admin_mainmenu*/
.menubox {
	width: 100px;
	height:100px;
	transition: all 1s ease;
   	float: left;
	padding : 8 8 0 8;
}
.menubox img {
	width: 100%;
	transition: all 1s ease;
}
.menubox:hover {
	-webkit-transfrom: scale(1.3);
    -moz-transfrom: scale(1.3);
    -o-transfrom: scale(1.3);
    transfrom: scale(1.3);
}
.menubox:hover img {
	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	transform: scale(1.1);
	cursor: pointer;
}
.menuboxover{
	margin : 10 15 0 185;
}
.addmenu {
	padding-top:8px;
}
.addmenu a{
	color: #ffffff;
}
.mucl {
	border-bottom:2px solid #424242;
}
/*trs show*/
.fieldset1 {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
}
.fieldset1 legend {
    width : 65px;
    padding: 2px 2px ;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    margin-left: 20px;
}
.fieldset2 {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
}
.fieldset2 legend {
    width : 100px;
    padding: 2px 2px ;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    margin-left: 20px;
}
.fieldset3 {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
}
.fieldset3 legend {
    width : 190px;
    padding: 2px 2px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    margin-left: 20px;
}
.fieldset4 {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
}
.fieldset4 legend {
    width : 150px;
    padding: 2px 2px ;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    margin-left: 20px;
}
.fieldset5 {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 15px;
}
.fieldset5 legend {
	width : 125px;
	padding: 2px 2px ;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #000;
	margin-left: 20px;
}
.fieldset6 {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 15px;
}
.fieldset6 legend {
	width : 100px;
	padding: 2px 2px ;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #000;
	margin-left: 20px;
}
/*trs showallzoo*/
.azhead {
    padding-top: 10px;
    border-bottom: solid 1px #666666;
}
.azchoice {
    padding-bottom: 15px;
}
.loginwrong {
    font-size: 30px;
    padding: 16 0 0 2;
    color: #f63737;
    border: solid 3px #f63737;
    border-radius: 20px;
    margin-top: 30px;
}
/*user add user*/
.boxred{
/* 	border-style: solid; */
	background-color: #f27e7e;
	border-radius: 0.3rem;

}
.boxyellow{
/* 	border-style: solid; */
	background-color: #FFCC10;
	border-radius: 0.3rem;

}
.boxgreen{
/* 	 border-style: solid; */
	background-color: #81C784;
	border-radius: 0.3rem;
	}

.noity{
	background-color: #f27e7e;
}
.warinning{
	background-color: #FFCC10;
}
.suscess{
	background-color: #81C784;

}
.total{
	background-color: #6bb6f3;
}
.fontred{
	font-size: 18px;
}
.fontyellow{
	font-size: 18px;
}
.fontgreen{
	font-size: 18px;
}
.noneuau {
	border-bottom : 0px;
}
.maxw {
	width: 100%;
}
/*gridviwe*/
.editdetial {
	min-width : 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: small;
}
.editok {
	min-width : 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: small;
}
.editwait {
	min-width : 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: small;
}
.editbox {
	min-width : 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: small;
}
.edittext {color:#ffffff;}
.waitbox , .waitbox:hover {
	color:#fff;
}
.rmgetfixdetial {
	padding:8 8 8 8;
}
.datebox {
	width : 300px;
}
.headrow {
    font-size: 16px;
}
.editrable {
	width:100%;
}
/*statusok*/
.statusok {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 100px;
	color:#5BB576;
	text-align:center;
	border: solid #5BB576 15px;
	border-radius: 30px;
	width: 600px;
	margin: auto;
	margin-top: 50px;
	padding: 25 0 0 0;
}
.noitem {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 100px;
	color:#EA0006;
	text-align:center;
	border: solid #EA0006 15px;
	border-radius: 30px;
	width: 300px;
	margin: auto;
	margin-top: 50px;
	padding: 25 0 0 0;
}
.loginwrong {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 50px;
	color:#FB373D;
	text-align:center;
	border: solid #FB373D 10px;
	border-radius: 30px;
	width: 500px;
	margin: auto;
	margin-top: 50px;
	padding: 20 0 0 0;
}
/*cf_listcfr*/
.cfbordertop {
	float: left;
	border-top: solid 1px #e9ecef;
	border-left: solid 1px #e9ecef;
	border-bottom: solid 1px #e9ecef;
	border-right: solid 1px #e9ecef;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.cfborderleft {
	float: left;
	border-left: solid 1px #e9ecef;
	border-bottom: solid 1px #e9ecef;
	border-right: solid 1px #e9ecef;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.cfborderrighttop {
	float: left;
	border-top: solid 1px #e9ecef;
	border-bottom: solid 1px #e9ecef;
	border-right: solid 1px #e9ecef;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.cfborderright {
	float: left;
	border-bottom: solid 1px #e9ecef;
	border-right: solid 1px #e9ecef;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.csborder {
	border-radius: 7px;
    border: 1px solid #ccc;
}
.ck-blurred,.ck-editor__editable_inline {
    height: 200px;
}
/*getdetail*/
.btclose {
	opacity: 1;
}
/*radio*/
.imgcancle {
	background : url(images/icons/cancel_black.png);
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.adacancle{background-image:url("../images/icons/cancel_black.png");}
.adaok{background-image:url("../images/icons/check_circle_black.png");}

.cc-selector input:active +.drinkcard-cc{opacity: .100; }
.cc-selector input:checked +.adaok{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
     background-image:url("../images/icons/ok.png");
}
.cc-selector input:checked +.adacancle{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
     background-image:url("../images/icons/cancle.png");
}

.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:30px;height:30px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.modal-footer > .cfwait {
	margin-right : 70%;
}
.modal-footer > .cfno {
	margin-right : 70%;
}
.modal-footer > .cfconfirm {
	margin-right : 70%;
}
.colorcfmenu{
	background-color: #0069d9;
	border-color: #0062cc;
	color:#ffffff;
}
.pcfmenu{
	word-warp:break-word;
	white-space: pre-wrap;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.headconfer {
	color : #000000;
	border-bottom : solid 1px #000000;
}
.statustextleft {
	padding-top: 7px;
	padding-left: 50px;
}
.statustext {
	padding-top: 7px;
}
.adddaytextpad {
	padding-top:0;
	padding-bottom:0;
}
.textor{
	color:#ff6c00;
}
.dropdown-cssubmenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.select2-container .select2-selection--single {
	height:38px;
}
.select2-container--default .select2-selection--single {
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.select2-selection__arrow {
	margin-top : 0.375rem;
}
.usubd {
	border : solid 1px #ced4da;
	border-radius : 8px;
	margin-top : 16px;
}
.sidebar {
	padding-top: 0;
	position: sticky;
	z-index: 0;
}
.list-group {
	display:inline;
}
.be-connections .connection-item {
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 15px 0 9px;
    display: block;
    border: 1px solid transparent;
    color: #737373;
}
.blocklogo {
	margin-top: 30px;
	padding-left: 450px;
}
.cflogo {
	width:150px;
	height:150px;
}
.cfok {
	margin-top:60px;
}
.listcfbox {
	border-bottom : solid 1px #343a40;
}
.brandedit {
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}
.showindex {
	background-color:#F5F5F5;
}
.hrsstpad {
	padding-top:4px;
}
.qtnblock {
	white-space:normal;
	text-align:left;
	color:#ffffff;
	border: none;
}
.qtnblock:hover {
	color:#ffffff;
    opacity: .7;
	border: none;
}
.shadow {
  box-shadow: 0 8px 6px -6px black;
}
.mmpd {
	padding-left:25px;
}
.mmpd2 {
	padding-left:10px;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.50s;
  transition-duration: 0.50s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.animat-test{
  animation: fadeInRight .5s ease-in 1 forwards;
  animation-fill-mode:both;
}
.bcmn {
	background-color:#1DE9B6;
	color:#ffffff;
}
.bcmn:hover {
	background-color:#1DE9B6;
	color:#424242;
}
.mucls {
	color:#ffffff;
}
.mucls:hover {
	background-color:#1DE9B6;
	color:#424242;
}
.mucl:hover {
	background-color:#1DE9B6;
	color:#424242;
}
.bcnm {
	color:#ffffff;
}
.alltxh {
	color:#1DE9B6;
	border-bottom:2px solid #F5F5F5;
}
@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(50px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
.newmini {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent; 
}
.maa {
	color:#adfdaa;
}