.wrapper {
	width : 1200px;
	margin-left : 0;
	margin-right : 0;
	padding-right: 0;
	padding-left: 0;
}
.totalimghead {
	width : 1200px;
	margin : 0;
	float : left;
}
.totalimghead img {
	width : 115px;
	height : 100px;
}
.totalrow1 {
	width : 1200px;
	float : left;
}
.totalrow2 {
	width : 1200px;
	float : left;
}
.totalrow3 {
	width : 1200px;
	float : left;
	padding-left : 44px;
}
.container {
	width : 100%;
}
.totalquarter {
	display: none;
}
.totalyear {
	display: none;
}
.totalyear2 {
	display: none;
}
.finebotton {
	display: none;
}
.finebotton2 {
	display: none;
}
.menutop {
	display: none;
}