@media print {
body {
	padding-left: 0px;
	padding-right: 0px;
	
}
.wrapper { 
	height: 100%;
	width:100%;
}
.headrow,.sizerow,.footerrow {
    margin-bottom: 1rem;
    background-color: transparent;
	white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 10px;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
} 
.reporthead img {
	width : 115px;
	height : 100px;
}
.inner_position_right{  
    position:absolute;  
    display:block;     
    height:100%;  
    top:0px; 
    right:0px; 
    z-index:999;  
} 
.rowm0{
	margin-top:0px;
	width : 100%;
	height:100%;
	float:left;
}
.conreport {
	width : 800px;
	height : 100%;
	padding-right: 0;
	padding-left: 0;
}
.rowsize {
	height : 29px;
	margin-top: 2px;
}
.claerfix : {overflow: auto;}
.rowsize p {
	margin-top : 10px;
	margin-bottom : 0;
}
.reportunderline {
	margin-top: 2px;
	height:20px;
	border-bottom: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;
}
.solicline {
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.line {
	line-height: 190%;
}
.fp {
	height : 20px;
	padding: 0;
	margin : 7 0 0 0;
}
.widthbox {
	width:70px;
	padding: 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthboxp {
	width:390px;
	padding: 0;    
	margin : 7 0 0 0;
	float:left;
}
.widthbox2 {
	width:80px;
	padding: 0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox3 {
	width:260px;
	margin : 7 0 0 0;
	float:left;
	text-align:center;
}
.widthbox3fp {
	margin : 5 0 0 0;
}
.widthbox4 {
	width:65px;
	padding: 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthbox5 {
	width: 300px;
	margin :6 0 0 0;
	float:left;
}
.widthbox55 {
	width: 300px;
	margin : 7 0 0 0;
	float:left;
}
.widthbox6 {
	width:60px;
	padding : 0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox66 {
	width:40px;
	padding : 0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox7 {
	width: 375px;
	margin : 6 0 0 0;
	text-align:center;
	float:left;
}
.widthbox77 {
	width: 350px;
	margin : 7 0 0 0;
	text-align:center;
	float:left;
}
.widthbox777 {
	width: 340px;
	margin : 7 0 0 0;
	text-align:center;
	float:left;
}
.widthbox8 {
	width:110px;
	padding: 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthbox10 {
	width:70px;
	padding:0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox11 {
	width:40px;
	padding: 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthbox11-1 {
	width: 350px;
	margin : 7 0 0 0;
	float:left;
}
.rws {
	width:100%;
	padding : 7 0 0 15;
	float:left;
}
.widthbox12 {
	width:70px;
	padding : 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthbox122 {
	width:50px;
	padding : 0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox13 {
	width : 260px;
	margin : 5 0 0 0;
	float:left;
}
.widthbox13-2 {
	width : 420px;
	margin : 5 0 0 0;
	float:left;
}
.widthbox14 {
	width : 785px;
	margin : 5 0 0 15;
	float:left;
}
.widthbox14fp {
	height : 22px;
	margin : 6 0 0 15;
}
.widthbox14fp2 {
	height : 22px;
	margin : 5 0 0 15;
}
.widthbox14fp3 {
	height : 22px;
	margin : 5 0 0 15;
}
.widthbox14fp4 {
	height : 22px;
	margin : 5 0 0 15;
}
.widthbox14fp5 {
	height : 22px;
	margin : 4 0 0 15;
}
.widthboxx {
	width : 830px;
	height : 135px;
	margin : 0 0 0 0;
	padding: 0 0 20 45;
	float:left;
}
.widthboxp5 {
	width : 385px;
	padding:0 0 0 0;
	margin: 0 0 0 0;
	float: left;
}
.widthboxp5p {
	width : 385px;
	margin: 0 0 0 15;
	padding:0 0 0 0;
	float: left;
}
.widthbox15 {
	width : 40px;
	padding:0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox15-1 {
	width : 50px;
	padding:0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox15-2 {
	width : 40px;
	padding:0 0 0 0;
	margin : 7 0 0 0;
	text-align:right;
	float:left;
}
.widthboxp6 {
	width : 90px;
	padding:0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox16 {
	width : 205px;
	padding:0;
	margin : 6 2 0 0;
	float:left;
}
.widthbox17 {
	width : 205px;
	margin : 5 0 0 0;
	float:left;
	text-align:center;
}
.widthbox18 {
	width : 30px;
	margin : 6 0 0 15;
	float:left;
}
.widthbox19 {
	width : 30px;
	margin : 6 0 0 0;
	float:left;
}
.widthbox20 {
	width : 225px;
	margin : 5 0 0 0;
	float:left;
	text-align:center;
}
.widthbox20-1 {
	width : 235px;
	margin : 4 0 0 0;
	float:left;
	text-align:center;
}
.widthbox16fp {
	margin : 5 2 0 0;
}
.widthbox17fp {
	margin : 5 0 0 0;
}
.widthbox20fp {
	margin : 4 0 0 0;
}
.widthbox21 {
	width:70px;
	padding: 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthbox23 {
	width : 105px;
	padding: 0 0 0 15;
	margin : 7 0 0 0;
	float:left;
}
.widthbox24 {
	width : 200px;
	margin : 7 0 0 0;
	float:left;
	text-align:center;
}
.widthbox25 {
	width : 110px;
	padding: 0;
	margin : 7 0 0 0;
	float:left;
}
.widthbox26 {
	width : 380px;
	margin : 7 0 0 0;
	float:left;
	text-align:center;
}
.widthbox27 {
	width : 190px;
	margin : 7 0 0 0;
	padding:0 0 0 15;
	float:left;
}
.widthbox28 {
	width : 90px;
	margin : 7 0 0 0;
	padding:0;
	float:left;
}
.widthbox29 {
	width : 140px;
	margin : 7 0 0 0;
	padding:0;
	float:left;
}
.widthbox30 {
	width : 140px;
	margin : 4 0 0 0;
	padding:0;
	float:left;
	text-align:center;
}
.widthbox31 {
	width : 100px;
	margin : 4 0 0 0;
	padding:0;
	float:left;
	text-align:center;
}
.widthbox32 {
	width : 240px;
	margin : 7 0 0 0;
	float:left;
}
.widthbox33 {
	width : 560px;
	margin : 6 0 0 0;
	float:left;
}
.widthbox34 {
	width : 250px;
	padding-left: 75px;
	float:left;
}
.widthbox35 {
	width : 500px;
	float:left;
}
.widthbox36 {
	width : 60px;
	margin : 7 0 0 0;
	float:left;
}
.widthbox37 {
	width : 740px;
	margin : 6 0 0 0;
	float:left;
}
.rwd {
	height : 140px;
	margin : 0 0 0 30;
	padding : 0;
}
.widthbox42 {
	width : 80px;
	margin : 5 0 0 0;
	padding : 0;
	float:left;
}
.widthbox43 {
	width : 715px;
	padding : 0;
	float:left;
}
.wd {
	width : 100%;
	height : 25px;
	float:left;
}
.rwa {
	width : 100%;
	height : 24px;
	float:left;
}
.rwa2 {
	width : 100%;
	height : 23px;
	float:left;
}
.rwa3 {
	width : 100%;
	height : 23px;
	float:left;
}
.rwa4 {
	width : 100%;
	height : 23px;
	float:left;
}
.widthbox45 {
	width : 150px;
	margin: 0 0 0 650;
	padding: 0;
	border : 1px;
	border-style : solid;
	border-color : #000000;
	float:left;
}
.widthbox45 p {
	margin-top : 5px;
}
.gridfp {
	width:9in;
    height:11in;
    margin:auto; /*ให้อยู่กลางจอ*/
}
.printdisplaynone,.dataTables_length,.dataTables_filter,.dataTables_info,.dataTables_paginate{
	display : none;
}
.printcenter {
    text-align: center;
    vertical-align: center;
}
 div { float: none !important; position: static !important; display: inline; 
          box-sizing: content-box !important;
    }
.page
      {
         page-break-after: always /* CSS 2 */; 
		 break-after: page /* CSS 3+ */;
      }
}
.tsvhrow1 {
	height: 28px;
}
.tsvhrow2 {
	height: 28px;
}